@import url("https://fonts.googleapis.com/css?family=Dosis:400,700&display=swap");
@import 'variables';

html {
  font-size: 16px;
}

body {
  font-family: 'dosis';
  color: white;
  background-color: $color-primary;
} 